body {
padding-top: 40px;
padding-bottom: 40px;
background: url(../../View/img/fundo_pe.png) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
.login {
max-width: 300px;
padding: 19px 29px 29px;
margin: 0 auto 20px;
background: #fff;
background: rgba(255,255,255,0.9);
border: 1px solid #e5e5e5;
border-top-left-radius:15px 15px;
border-top-right-radius:15px 15px;
border-bottom-left-radius:15px 15px;
border-bottom-right-radius:15px 15px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
-border-radius: 15px;
}